################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WatchGuardMarsRover/wwwroot/Images2
/WatchGuardMarsRover/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot/Images2
